.faq-section {
  padding: 50px;
  min-height: 70vh;
  padding-bottom: 200px;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.faq {
  background: rgba(40, 40, 40, 0.7);
  border-radius: 10px;
  margin-bottom: 35px;
  padding: 25px;
  cursor: pointer;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  display: none;
  opacity: 0.8;
}

.contact-section {
  position: relative;
  height: 90vh;
  width: 100%;
}

.map-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.mapimage {
  width: 100%;
  height: 100%;
}
.contact-container {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  background: rgba(40, 40, 40, 0.7);
  padding: 30px;
  width: 350px;
  border-radius: 20px;
  z-index: 2;
}

.contact-container input,
.contact-container textarea {
  width: 93%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.contact-container button {
  width: 99%;
  padding: 12px;
  border-radius: 10px;
  background: #fcfefc;
  border: 3px solid #8d5bf8;
  color: rgb(11, 11, 11);
  font-size: 16px;
  cursor: pointer;
}
.contact-container button:hover {
  transition: 0.5s;
  background-color: #8d5bf2;
  color: white;
}

#error {
  color: #ff5252;
  margin-top: 10px;
}
