html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #6b30e1, #4b239c, #24104c, black);
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
}

#navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  right: 100px;
  left: 100px;
  background-color: black;
  border-radius: 100px;
  opacity: 0.7;
  z-index: 10;
  font-size: 20px;
}

.leftnav,
.midnav,
.rightnav {
  display: flex;
  align-items: center;
}

.leftnav {
  margin-left: 50px;
}
.rightnav {
  margin-right: 50px;
}

#chatgpt-icon {
  width: 40px;
  cursor: pointer;
}

.navlink {
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

.navicon {
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
}

/* INTRO */
#intro,
#intro2 {
  padding: 100px 160px;
  text-align: center;
}

.intro-heading {
  font-size: 50px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 105%;
}

span {
  display: block;
  font-size: 25px;
  color: rgb(180, 180, 180);
}

.try-now {
  background-color: black;
  color: white;
  border: solid rgb(153, 153, 153);
  border-radius: 30px;
  padding: 10px 25px;
  margin-top: 50px;
  cursor: pointer;
}
.try-now:hover {
  transition: 0.5s;
  background-color: rgb(153, 153, 153);
}

/* GRID */
#grid {
  margin: 0 100px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 50px;
}

.innergrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.img {
  height: 500px;
}

.text {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.footer {
  width: 100%;
  padding-bottom: 20px;
}
.footer-inner {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-right {
  display: flex;
}
.footer-column {
  margin-left: 80px;
}
.footer-logo {
  width: 50px;
}
