body {
  margin: 0;
  padding: 0;
}
#pricing-container {
  padding: 150px;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.card {
  width: 300px;
  padding: 35px 25px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 0 30px #9d5cff;
}

.card h2 {
  font-size: 24px;
}

.card h1 {
  font-size: 44px;
}
.card p {
  font-size: 15px;
  margin: 0;
  color: #cccccc;
}
.features {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

.features li {
  margin: 8px;
  font-size: 15px;
  color: #cccccc;
}

.subscribe-btn {
  margin-top: 18px;
  padding: 12px 25px;
  font-size: 17px;
  font-weight: 600;
  background: linear-gradient(90deg, #7b37ff, #c77dff);
  border: none;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.subscribe-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px rgba(180, 120, 255, 1), 0 0 45px rgba(150, 80, 255, 0.8);
}
